@import './markdown.css';
@import './toasts.css';
@import './multiselect.css';
@import './transitions.css';
@import './keyframes.css';

@font-face {
  font-family: 'Archia';
  src: url('../fonts/archia-regular-webfont.eot');
  src: url('../fonts/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archia-regular-webfont.woff2') format('woff2'),
       url('../fonts/archia-regular-webfont.woff') format('woff'),
       url('../fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('../fonts/archia-semibold-webfont.eot');
  src: url('../fonts/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archia-semibold-webfont.woff2') format('woff2'),
       url('../fonts/archia-semibold-webfont.woff') format('woff'),
       url('../fonts/archia-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('../fonts/archia-regular-webfont.eot');
  src: url('../fonts/archia-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archia-regular-webfont.woff2') format('woff2'),
       url('../fonts/archia-regular-webfont.woff') format('woff'),
       url('../fonts/archia-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Archia';
  src: url('../fonts/archia-semibold-webfont.eot');
  src: url('../fonts/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/archia-semibold-webfont.woff2') format('woff2'),
       url('../fonts/archia-semibold-webfont.woff') format('woff'),
       url('../fonts/archia-semibold-webfont.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

:root {
  --accent-color-dark: #002832;
  --accent-color-light: #BCDCDC;
  --gradient-color: #BCDCDC;
}

html,
body,
#app {
  @apply font-sans font-regular;

  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-soothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-soothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

body {
  @apply overflow-x-hidden;
}

.safari-fix {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
}
